@model SimpleMVC.Data.Base.IBaseEntity

@if (User.IsInRole("Admin"))
{
    <a class="btn btn-outline-primary text-black" asp-action="Edit" asp-route-id="@Model.Id"><i class="bi bi-pencil-square"></i> Edit</a>
    <a class="btn btn-danger text-white" asp-action="Delete" asp-route-id="@Model.Id"><i class="bi bi-trash"></i> Delete</a>
}
<a class="btn btn-outline-info text-black" asp-action="Details" asp-route-id="@Model.Id"><i class="bi bi-eye"></i> Details</a>