<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SimpleMVC</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SimpleMVC.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Movies" asp-action="Index">SimpleMVC</a>
                <div class="navbar-collapse collapse d-flex justify-content-between" id="navbar-collapse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Movies" asp-action="Index"><i class="bi bi-film"></i> Movies</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="badge-info bi-gear"></i> Management
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" asp-controller="Cinemas" asp-action="Index"><i class="bi bi-camera-reels"></i> Cinemas</a>
                                <a class="dropdown-item" asp-controller="Producers" asp-action="Index"><i class="bi bi-headset"></i> Producers</a>
                                <a class="dropdown-item" asp-controller="Actors" asp-action="Index"><i class="bi bi-person-square"></i> Actors</a>
                            </div>
                        </li>
                    </ul>
                    @if (ViewContext.RouteData.Values["controller"]!.ToString() == "Movies"
                                     && ViewContext.RouteData.Values["action"]!.ToString() == "Index")
                    {
                    <form class="form-inline my-2 my-lg-0 mx-5 d-flex" asp-controller="Movies" asp-action="Filter" style="padding-right: 25px;">
                        <input name="searchString" type="text" class="form-control mx-1" placeholder="Search for a movie..." aria-label="Recipient's username" aria-describedby="button-addon2">
                        <button class="btn btn-outline-success my-2 my-sm-0 mx-1" asp-action="Index" type="submit"><i class="bi bi-search"></i></button>
                    </form>
                    }
                    @if (User.Identity!.IsAuthenticated)
                    {
                        <a asp-controller="Users" asp-action="Index" class="mx-2">
                            <i class="bi bi-person-circle" style="font-size: 35px; color: gray;"></i>
                        </a>
                        <a asp-controller="Auth" asp-action="LogOut" class="btn btn-danger mx-1">Log Out</a>
                    }
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid ">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - SimpleMVC - Narek Bayunc
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

@if (TempData.ContainsKey("ErrorMessage"))
{
    <script>
        $(document).ready(function () {
            var inputElements = $('.input-field');
            inputElements.addClass('is-invalid');
            inputElements.focus(function () {
                $(this).removeClass('is-invalid');
                $('.input-span').text('');
            });
        });

    </script>
}

<script>
    $(document).ready(function () {
        var output = document.getElementById('PersonPicturePreview');
        output.src = URL.createObjectURL(this.files[0]);
    })

    $("#PictureData").on("change", function () {
        var output = document.getElementById('PersonPicturePreview');
        output.src = URL.createObjectURL(this.files[0]);
    })

    $(document).ready(function () {
        var output = document.getElementById('CinemaPicturePreview');
        output.src = URL.createObjectURL(this.files[0]);
    })

    $("#Logo").on("change", function () {
        var output = document.getElementById('CinemaPicturePreview');
        output.src = URL.createObjectURL(this.files[0]);
    })

    $(document).ready(function () {
        var output = document.getElementById('MoviePicturePreview');
        output.src = URL.createObjectURL(this.files[0]);
    })

    $("#MoviePictureData").on("change", function () {
        var output = document.getElementById('MoviePicturePreview');
        output.src = URL.createObjectURL(this.files[0]);
    })
</script>

