@if (TempData.ContainsKey("SignedIn"))
{
    <div id="successAlert" class="alert alert-success text-center">
        Hello @TempData["SignedIn"], you have successfully created an account
    </div>
}
else if (TempData.ContainsKey("LoggedIn"))
{
    <div id="successAlert" class="alert alert-success text-center">
        Hello @TempData["LoggedIn"] , you are successfully Logged In
    </div>
}
else if (TempData.ContainsKey("IsMovieAdded"))
{
    <div id="successAlert" class="alert alert-success text-center">
        New movie are successfully Added
    </div>
}
else if (TempData.ContainsKey("ProfileEdited"))
{
    <div id="successAlert" class="alert alert-success text-center">
        @TempData["ProfileEdited"]
    </div>
}