@model MovieUserViewModel
@using SimpleMVC.Models.ViewModels
@{
    ViewData["Title"] = "List of Movies";
}
<div class="row">

    <partial name="_MovieAlertMessages" />
    @if (Model.Movies.Any())
    {
        @foreach (var movie in Model.Movies)
        {
            <div class="col-lg-4 col-md-6 col-sm-12 mb-3">
                <div class="card mb-3" >
                    <div class="row g-0">
                        <div class="col-md-12">
                            <div class="card-header text-white bg-info" id="card-header">
                                <h5 class="card-title">
                                    @movie.Name
                                    @if (User.IsInRole("Admin"))
                                    {
                                    <a class="text-white float-end" asp-action="Edit" asp-route-id="@movie.Id"><i class="bi bi-pencil-square"></i></a>
                                    }
                                </h5>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <img class="img-fluid MovieImage" src="data:image/png;base64,@Convert.ToBase64String(movie.PictureData!)" alt="@movie.Name">
                        </div>
                        <div class="col-md-6">
                            <div class="card-body">
                                <p class="card-text">@movie.Description</p>
                                <p class="card-text"><b>Cinema: </b>@movie?.Cinema?.Name</p>
                                <p class="card-text"><b>Category: </b>@movie?.MovieCategory</p>
                                <p class="card-text"><b>Start Date: </b>@movie?.StartDate.ToString("dd MMM yy")</p>
                                <p class="card-text"><b>End Date: </b>@movie?.EndDate.ToString("dd MMM yy")</p>
                                <p class="card-text">
                                    <b>Status: </b>
                                    @if (DateTime.Now >= movie?.StartDate && DateTime.Now <= movie.EndDate)
                                    {
                                        <span class="badge bg-success text-white">AVAILABLE</span>
                                    }
                                    else if (DateTime.Now > movie?.EndDate)
                                    {
                                        <span class="badge bg-danger text-white">EXPIRED</span>
                                    }
                                    else
                                    {
                                        <span class="badge bg-primary text-white">UPCOMING</span>
                                    }
                                </p>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="card-footer">
                                <p class="card-text">
                                    @if (Model.UserData != null &&
                                            Model.UserData.CartItems.Any(ci => ci.MovieId == movie?.Id))
                                    {
                                        <button class="btn btn-danger text-white remove-from-cart" id="remove-from-cart-@movie?.Id"
                                        data-movie-id="@movie?.Id">
                                            <i id="" class="bi bi-cart-dash"></i> Remove from Cart
                                        </button>
                                        <script>
                                            $(document).ready(function () {
                                                $('#add-to-cart-' + @movie?.Id).hide();
                                            });
                                        </script>
                                    }
                                    <button class="btn btn-danger text-white remove-from-cart-temp" id="remove-from-cart-temp-@movie?.Id"
                                            data-movie-id="@movie?.Id" style="display:none;">
                                        <i id="" class="bi bi-cart-dash"></i> Remove from Cart
                                    </button>
                                    <button class="btn btn-success text-white add-to-cart" id="add-to-cart-@movie?.Id"
                                    data-movie-id="@movie?.Id" href="#">
                                        <i class="bi bi-cart-plus"></i> Add to Cart (Price @movie?.Price.ToString() $)
                                    </button>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        <div class="text-center no-movies">
            <p>Movies not found</p>
            <div class="back-button">
                <a asp-action="Index" class="btn btn-danger">
                    <i class="bi bi-arrow-left"></i> Back
                </a>
            </div>
        </div>
    }
    @if (User.IsInRole("Admin"))
    {
    <div>
        <a style="position: fixed; right: 25px; bottom: 70px;" asp-controller="Movies" 
        asp-action="Create" class="btn btn-success"><i class="bi bi-plus-circle"> Add New</i></a>
    </div>
    }
</div>


@section Scripts 
{
    <script>
        $(document).ready(function () {
            $('.add-to-cart').click(function (e) {
                e.preventDefault();
                var movieId = $(this).data('movie-id');
                $.ajax({
                    url: '/Movies/AddToCart',
                    method: 'POST',
                    data: { movieId: movieId },
                });
                $('#add-to-cart-' + movieId).hide();
                $('#remove-from-cart-temp-' + movieId).show();
            });
            $('.remove-from-cart').click(function (e) {
                e.preventDefault();
                var movieId = $(this).data('movie-id');
                $.ajax({
                    url: '/Movies/RemoveFromCart',
                    method: 'POST',
                    data: { movieId: movieId },
                });
                $('#remove-from-cart-' + movieId).hide();
                $('#add-to-cart-' + movieId).show();
            });
            $('.remove-from-cart-temp').click(function (e) {
                e.preventDefault();
                var movieId = $(this).data('movie-id');
                $.ajax({
                    url: '/Movies/RemoveFromCart',
                    method: 'POST',
                    data: { movieId: movieId },
                });
                $('#remove-from-cart-temp-' + movieId).hide();
                $('#add-to-cart-' + movieId).show();
            });
        });
    </script>
}