@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Hello, my name is Narek Bayunc, this is my web application, named "Simple MVC", I created it in 2023.</p>
    <p>Application created via ASP.NET Core MVC</p>
</div>
