@model User
@{
    ViewData["Title"] = "Sign In";
}
<div class="row text">
    <div class="col-md-8 offset-2">

        <h1 style="text-align: center;">Sign In</h1>

        <div class="row">
            <partial name="_ErrorMessage" />
            <div class="col-md-8 offset-2">
                <form asp-action="Register">
                    <div asp-validation-summary="ModelOnly" class="text-danger">
                    </div>
                    <div class="form-group mb-3">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control input-field" id="NameInput" placeholder="Name"/>
                        <span asp-validation-for="Name" class="text-danger input-span"></span>
                    </div>
                    <div class="form-group mb-3">
                        <label asp-for="Age" class="control-label"></label>
                        <input asp-for="Age" class="form-control input-field" type="number" step="1" placeholder="Age" />
                        <span asp-validation-for="Age" class="text-danger input-span"></span>
                    </div>
                    <div class="form-group mb-3">
                        <label asp-for="Login" class="control-label"></label>
                        <input asp-for="Login" class="form-control input-field" placeholder="Login" />
                        <span asp-validation-for="Login" class="text-danger input-span"></span>
                    </div>
                    <div class="form-group mb-3">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control input-field" placeholder="Email" />
                        <span asp-validation-for="Email" class="text-danger input-span"></span>
                    </div>
                    <div class="form-group mb-3">
                        <label asp-for="Password" class="control-label"></label>
                        <input asp-for="Password" type="password" id="PassInput" class="form-control input-field" placeholder="Password" />
                        <span asp-validation-for="Password" class="text-danger input-span"></span>
                    </div>
                    <div class="d-flex justify-content-between">
                        <div>
                            <a asp-action="Login">Already have an account? Log In</a>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Sign In" class="btn btn-outline-success float-end" />
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>

